* {
  text-decoration: none;
}

.home {
  margin: 20px;
  color: white;
  text-decoration: none;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.home h1 {
  font-size: 22px;
}

h1,
.botoes-menu p,
.final p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}

.final {
  font-size: 14px;
  margin: 30px 0px 40px 0px;
}

.destaque p {
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  background-color: #9C27B0;
  padding: 10px;
  width: 35vw;
}

.botoes-menu {
  display: flex;
  flex-direction: row;
}

.botoes-menu p {
  font-size: 16px;
  margin-top: 10px;
}

.icone {
  background-color: #9C27B0;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes-menu i {
  color: white;
  font-size: 20px;
}

.botoes-menu .botao-instituicao .icone i,
.botoes-menu .botao-leis .icone i {
  font-size: 30px;
}

.botoes-menu .botao-instituicao,
.botoes-menu .botao-leis {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icone:hover {
  background-color: #3d1344;
}
