@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  text-decoration: none;
}

.topo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.home {
  margin: 20px;
  color: white;
  text-decoration: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  margin-right: 10px;

}

.topo i {
  font-size: 50px;
  margin-top: -20px;
  color: #9C27B0;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.home h2 {
  font-size: 22px;
}

h2,
.botoes-menu p,
.final p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}

.final {
  font-size: 14px;
  margin: 30px 0px 40px 0px;
}

.destaque p {
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  background-color: #9C27B0;
  padding: 10px;
  width: 35vw;
}

.botoes-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.botoes-menu p {
  font-size: 16px;
  margin-top: 10px;
}

.icone {
  background-color: #9C27B0;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes-menu i {
  color: white;
  font-size: 20px;
}

.botoes-menu .botao-instituicao .icone i,
.botoes-menu .botao-leis .icone i {
  font-size: 30px;
}

.botoes-menu .botao-instituicao,
.botoes-menu .botao-leis {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icone:hover {
  background-color: #3d1344;
}
