<div class="home">

  <app-topo></app-topo>

  <h2>Você sabia que</h2>
  <div class="infos">
    <p>Uma mulher é vítima de estupro a cada</p>
    <div class="destaque">
      <p>10 minutos</p>
    </div>
  </div>
  <div class="infos">
    <p>Três mulheres são vítimas de feminicídio a cada</p>
    <div class="destaque">
      <p>UM DIA</p>
    </div>
  </div>
  <div class="infos">
    <p>Uma travesti ou mulher trans é assassinada no país a cada</p>
    <div class="destaque">
      <p>2 DIAS</p>
    </div>
  </div>
  <div class="infos">
    <p>30 MULHERES<br />sofrem agressão física</p>
    <div class="destaque">
      <p>POR HORA</p>
    </div>
  </div>
  <div class="final">
    <p>
      Por isso a Mulher Segura criou este espaço para compartilhar informações
      sobre instituições e locais de acolhimento da mulher agredida.
    </p>
  </div>

  <div class="botoes-menu">
    <div class="botao-instituicao">
      <a routerLink="/instituicoes">
        <div class="icone">
          <i class="fas fa-home"></i>
        </div>
      </a>
      <p>INSTITUIÇÕES DE ACOLHIMENTO E<br>AJUDA à mulher agredida</p>
    </div>

    <div class="botao-leis">
      <a routerLink="/leis">
        <div class="icone">
          <i class="fas fa-gavel"></i>
        </div>
      </a>
      <p>conheça as leis de<br>proteção à mulher</p>
    </div>
  </div>
</div>
