.topo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.topo i {
  font-size: 50px;
  margin-top: -20px;
  color: #9C27B0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  margin-right: 10px;

}
