#div-1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20%;
}

div{
  width: 50vw;
}
div img{
  min-width: 50vw;
  min-height: 35vw;

  max-width: 50vw;
  max-height: 35vw;
  border-radius: 15px;
}

#div-1 button{
  border-radius: 15px;
  background-color: transparent;
  border: transparent;
  font-size: 5vw;
  color: white;
}
